.conteudo__pagina0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
}
.conteudo__pagina0-titulo {
    border-top: 0.08em solid var(--cor-terciaria);
    padding-top: 1.5em;
    font-family: var(--font-principal);
    font-weight: 400;
    font-size: 1.5em;
    margin-bottom: 1em;
    color: var(--cor-principal);
}
.conteudo__pagina0-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.conteudo__pagina0-card a {
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: var(--font-secundaria);
    color: var(--cor-sextaria);
    font-weight: 400;
    border-radius: 8px;
    margin: 2em;
    padding: 2em;
}
.conteudo__pagina0-card a:hover {
    background-color: var(--cor-terciaria);
    color: var(--cor-quintaria);
}